<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 mt-3">
      <app-button></app-button>
    </div>
    <div class="offset-md-3 col-md-6 mt-3">
      <app-colorpicker></app-colorpicker>
    </div>
    <div class="offset-md-3 col-md-6 mt-3">
    <app-dropdown></app-dropdown>
    </div>
    <div class="offset-md-3 col-md-6 mt-3">
      <app-chart ></app-chart>
    </div>
  </div>
</div>




